@import url("menuhorizontal.css");
  /*Edita menu lateral*/
  *{
  	margin: 0;
    padding: 0;
    top: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.menu li a{
	text-decoration: none;
}

.color{
	background:#00b19c;
	height: 100%;
	width: 22.3%;
	position: fixed;

}

 .contenedor-menu{
 	width: 22.3%;
    position: fixed;
    min-width: 300px;
    height: 100%;
    overflow: scroll;
    font-size: 20px;
    font-family: 'Bitter', serif;


 }


.contenedor-menu .menu #logo{
 	margin-left: 8px;
 	margin-top: 20px;
 	
 }
.contenedor-menu .menu{
	width: 100%;

}

.contenedor-menu ul{
	list-style: none;
	font-family: 'Bitter', serif;
}

.contenedor-menu .menu li a{
	color: #fff;
	display: block;
	padding: 10px 10px;
	background: #00b19c;
	font-size: 20px;
	font-family: 'Bitter', serif;


}

.contenedor-menu .menu li a:hover{
	background: #70d0c49c;
	color: #fff;
	font-family: 'Bitter', serif;
}
.contenedor-menu .menu .icono{
	font-size: 22px;
	line-height: 0px;
	margin-top: 10px;


}
.contenedor-menu .menu .icono.izquierda{
    float: left;
    margin-right: 10px;
    line-height: 0px;
    
}

.contenedor-menu .menu .icono.derecha{
    float: right;
    margin-left:  10px;}

.contenedor-menu .menu ul{
    display: none;}

.contenedor-menu .menu ul li a{
	background:#1ca293;
	color: #fff;
	font-family: 'Bitter', serif;

}


.contenedor-menu .menu .activado{background: #2e8076;
    color: #fff;}


/* Finaliza edición menu lateral*/

/*Edita menu horizontal*/

header{
	margin-top: 0;
	position: fixed;
	margin-left: 22.2%;
	width: 77.7%;
	height: 50px;
	background: #fff;
	box-shadow: 2px 16px 15px -12px rgba(0,0,0,0.8);
	
	
}
nav ul {
list-style: none;
}

nav ul .conos{
	font-size: 15px;
	color: #000;
}


nav ul li{
	float: right;
	display: block;
}
nav ul li {
	padding: 10px;
	
}

/* Finaliza edición de menu horizontal*/