*{
  margin:0;
  padding: 0;
}

.linea1{
	margin-top: 60px;
	

}
.caja{
	background-color: #fff;
}
.hr1{
	width: 29%;
	margin-left:-35px;
	margin-top: 3px;
}
.hr4{

	margin-left:346px;
	margin-top: 1px;
	width: 20px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.hr3{	
    width: 18px;
	margin-left: 950px;
	margin-top: -3px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}

.line{
	margin-top: -10px;
}
.hr2{
	width: 389px;
	margin-left: 960px;
	margin-top: 3px;
}



header{
	 margin-left: -30px;
	 margin-top: -45px;
	 
}

body {
	
	background-image: url(../img/2.jpg);
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: 100% 800px;
	
}

a {
	text-decoration: none;
}

/*---------- Wrapper --------------------*/

nav {
	width: 100%;
	height: 80px;

}

ul {
	text-align: center;
}

ul li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}

ul li.drop {
	position: relative;
}
ul > li {
	display: inline-block;
}
ul li a {
	line-height: 80px;
	padding: 0 20px;
	height: 80px;
	color: #fff;
	font-size: 17px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	text-decoration: none;
}
ul li a:hover {
	color: #00b19c;
}

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}
.dropOut {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

.dropOut ul li:hover {
	background: #f6f6f6;
}

ul li:hover a { color: white; }
ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }

.texto2{
	background: #fff;
	width: 75%;
	margin-left: 160px;
	margin-top: 40%;
	height: 400px;
	border-radius: 2px;
	padding: 15px;
	text-align: justify;
}

h2{
	text-align: center;
	 font-size: 2.25em;
    line-height: 1.5em;
    letter-spacing: -0.035em;
        color: #646464;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding-top:  10px;
    margin-top: 25px;
}

p{
	padding-top: 15px;
}
.contenido{
	display: inline-block;
    border-top: solid 2px #e5e5e5;
    color: #777;
    margin-left:  100px;
    margin-right: 100px;
    margin-top: 15px;
    padding-top: 25px;
    font-style: normal;
    color: #999;
    text-align: center;
    font-size: 30px;
  
}