.fondo{
	background-image: url("../img/img2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 640px;
	width: 100%;
	margin-top: -30px;
}


.caja_texto{
	float: right;
	width: 600px;
	height: 450px;
	margin-top: 30px;
	margin-right: 120px;
     color:#646464;


}

.titulo12{
	line-height: 40px;
	font-size: 30px;
	font-family:  ;
     text-align: left;
     color: #000;

}

.texto{
	font-size: 20px;
     line-height: 25px;
     color: #1a1919;
}

.rombo1 img{
     margin: auto;
     margin-top: 22px;
     margin-left: 14px;
     width: 80px;
     height: 75px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);

}  

.rombo2 img{
     margin: auto;
     margin-top: 22px;
     margin-left: 14px;
     width: 80px;
     height: 75px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);

} 

.rombo3 img{
     margin: auto;
     margin-top: 22px;
     margin-left: 14px;
     width: 80px;
     height: 75px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);

} 

.rombo4 img{
     margin: auto;
     margin-top: 22px;
     margin-left: 18px;
     width: 80px;
     height: 75px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);

} 

.rombo5 img{
     margin: auto;
     margin-top: 22px;
     margin-left: 14px;
     width: 80px;
     height: 75px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);

} 

.rombo6 img{
     margin: auto;
     margin-top: 22px;
     margin-left: 14px;
     width: 80px;
     height: 75px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);

} 


.rombo1 {
     width: 120px;
     height: 120px;
     margin-top: -580px;
     margin-left: 140px;
     border: 1px solid #6a6a6a;
     border-radius: 6px;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}



.rombo2 {
     width: 120px;
     height: 120px;
     margin-top: -122px;
     margin-left: 340px;
     border-radius: 6px;
     border: 1px solid #6a6a6a;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}

.rombo3 {
     width: 120px;
     height: 120px;
     margin-top: 70px;
     margin-left: 340px;
     border-radius: 6px;
     border: 1px solid #6a6a6a;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}

.rombo4 {
     width: 120px;
     height: 120px;
     margin-top: -120px;
     margin-left: 130px;
     border: 1px solid #6a6a6a;
     border-radius: 6px;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}

.rombo5 {
     width: 120px;
     height: 120px;
     margin-top: 70px;
     margin-left: 130px;
     border: 1px solid #6a6a6a;
     border-radius: 6px;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}

.rombo6 {
     width: 120px;
     height: 120px;
     margin-top: -120px;
     margin-left: 340px;
     border-radius: 6px;
     border: 1px solid #6a6a6a;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}
