/*cursos*/

/*fin cursos*/

/*edecanes*/
h3{ color:#031c44;
	padding: 15px;
	text-align: center;
}

p{color: #000;
text-align: justify;
}

span{text-align: center;
}

.fondoe {
	background-color: #fff;
}


/*fin edecanes*/
